<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    h5{
      color: #068FFF
    }
</style>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home') }}">Play Store App Analytics</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">Menu</span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('basic_stats') }}">Basic Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('used_data') }}">Data Used</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('graph') }}">Graphs</a>
        </li>
    </div>
  </div>
</nav>
<h1>Data Visualization</h1>

</head>
<body>

<br>
<br>
<h5><u>Content Ratings Visualization:</u></h5>
<p>In the piegraph, we can see that most of the apps about 80% are for everyone. There are some adult only apps, some are for teens and some are unrated.</p>
<br>
<div id="graph1">
<script>
    var graphJson1 = {{ graph_json1|safe }};
    Plotly.plot('graph1', graphJson1);
</script>
</div>

<br>
<br>
<h5><u>Highest Competition (Number of Apps):</u></h5>
<p>From the graph we can see that most of the apps are in family Category. So, if a company wants to make a for this Category it have to face a big Competition.</p>
<br>
<div id="graph2">
<script>
    var graphJson2 = {{ graph_json2|safe }};
    Plotly.plot('graph2', graphJson2);
</script>
</div>

<br>
<br>
<h5><u>Most Popular Categories (Highest Downloads):</u></h5>
<p>Games is the most Popular Category in all the categories but it has less app then family Category.</p>
<br>
<div id="graph3">
<script>
    var graphJson3 = {{ graph_json3|safe }};
    Plotly.plot('graph3', graphJson3);
</script>
</div>

<br>
<br>
<h5><u>Downloads vs. Competition:</u></h5>
<br>
<div id="graph4">
<script>
    var graphJson4 = {{ graph_json4|safe }};
    Plotly.plot('graph4', graphJson4);
</script>
</div>

<br>
<br>
<h5><u>Competition in Genres:</u></h5>
<br>
<div id="graph6">
<script>
    var graphJson6 = {{ graph_json6|safe }};
    Plotly.plot('graph6', graphJson6);
</script>
</div>

<br>
<br>
<h5><u>Free vs. Paid Apps per Category:</u></h5>
<br>
<div id="graph7">
<script>
    var graphJson7 = {{ graph_json7|safe }};
    Plotly.plot('graph7', graphJson7);
</script>
</div>

<br>
<br>
<h5><u>The number of Installs for free versus paid apps:</u></h5>
<br>
<div id="graph5">
<script>
    var graphJson5 = {{ graph_json5|safe }};
    Plotly.plot('graph5', graphJson5);
</script>
</div>

</body>
